﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Weather Service</title>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6" id="cityWeather">
                <div class="row" v-if="loading">
                    <div class="col-12 text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col-8 p-0">
                        <select class="form-control form-control-lg" @change="onCitySelectorChange($event)">
                            <option v-for="option in cityList" :value="option">{{ option }}</option>
                        </select>
                    </div>
                    <div class="col-4 m-auto">
                        <button @click="onRefreshButtonClick()" class="btn btn-primary">Load data</button>
                    </div>
                    <div class="col-12">
                        <div class="container-fluid" id="weather">
                            <div class="row">
                                <div class="col text-right font-weight-bold">City:</div>
                                <div class="col" id="city"><span v-if="weather">{{ weather.City.Name }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col text-right font-weight-bold">Time:</div>
                                <div class="col" id="time"><span v-if="weather">{{ time }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col text-right font-weight-bold">Temperature:</div>
                                <div class="col" id="temperature"><span v-if="weather">{{ weather.Temperature | formatNumber }} &deg;C</span></div>
                            </div>
                            <div class="row">
                                <div class="col text-right font-weight-bold">Wind speed:</div>
                                <div class="col" id="windSpeed"><span v-if="weather">{{ weather.WindSpeed | formatNumber }} m/s</span></div>
                            </div>
                            <div class="row">
                                <div class="col text-right font-weight-bold">Wind direction:</div>
                                <div class="col" id="windDirection"><span v-if="weather">{{ weather.WindDirection | formatNumber }}&deg;</span></div>
                            </div>
                            <div class="row">
                                <div class="col text-right font-weight-bold">Conditions:</div>
                                <div class="col" id="conditions"><span v-if="weather">{{ weatherConditions }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6" id="admin">
                <!-- Refresh panel -->
                <div class="container-fluid" v-if="authenticated">
                    <div class="row mb-2">
                        <div class="col">
                            <h1>Welcome to admin panel!</h1>
                            <button class="btn btn-primary" @click="onUpdateButtonClick()">
                                <span>Update weather</span>
                                <div class="spinner-border spinner-border-sm" role="status" v-if="updating">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </button>
                            <button class="btn btn-primary" @click="onLogoutButtonClick()">Logout</button>
                        </div>
                    </div>
                    <div class="row" v-if="success">
                        <div class="col">
                            <div class="alert alert-success" role="alert">
                                {{ success }}
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="error">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Login form -->
                <div class="container-fluid" v-else>
                    <div class="row" v-if="error">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" v-model="username" @keyup.enter="onLoginButtonClick()">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" v-model="password" @keyup.enter="onLoginButtonClick()">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <button class="btn btn-primary mt-2" @click="onLoginButtonClick()">
                                Login
                                <div class="spinner-border spinner-border-sm" role="status" v-if="loading">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="Content/jquery.min.js"></script>
    <script src="Content/bootstrap.min.js"></script>
    <script src="Content/axios.min.js"></script>
    <script src="Content/vue.js"></script>
    <script src="Content/app.js"></script>
</body>
</html>